@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-hide::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}
.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

.thin-scrollbar {
  scrollbar-width: thin;           /* Firefox */
  scrollbar-color: #4b5563 #1f2937; /* Thumb and track color */
}
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;                      /* Chrome, Safari, Opera */
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563;             /* Thumb color */
  border-radius: 4px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;             /* Track color */
}
